{
  "parser": "@typescript-eslint/parser",
  "extends": ["@qimpl/eslint-config/react", "plugin:import/typescript", "plugin:@typescript-eslint/recommended"],
  "rules": {
    "no-use-before-define": "off",
    "react/jsx-props-no-spreading": "off",
    "@typescript-eslint/no-use-before-define": ["error"]
  }
}
