{
  "env": {
    "jest": true
  },
  "extends": "@qimpl/eslint-config/react-typescript",
  "rules": {
    "react/jsx-props-no-spreading": "off"
  },
  "parserOptions": {
    "project": "tsconfig.json"
  }
}
